grpcio
grpc-interceptor == 0.15.4
opentelemetry-api >= 1.33.0
opentelemetry-sdk >= 1.33.0
opentelemetry-exporter-otlp-proto-grpc >= 1.33.0
opentelemetry-instrumentation-grpc >= 0.59b0
protobuf>=6.32.0,<7.0.0
surimi-surimi-protocol-grpc-python==1.70.1.1.20251112150435+3bec347c520d 
--extra-index-url https://buf.build/gen/python
python-dateutil
boto3
geopandas[all]